body,
html {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  font-family: 'Lato', sans-serif;
}

nav {
  font-weight: 500;
}

body {
  /*  overflow-y: hidden;*/
}

.container {
  margin-right: 0;
  padding: 0;
}

.nopadding {
  height: 90vh;
  padding: 15px !important;
  margin: 0 !important;
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 35px;
}

.fill {
  min-height: 100vh;
  height: 100%;
}

#clock {
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid black;
  border-radius: 10px;
}
