.row {
  min-height: 90vh;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
	overflow-y: hidden;
}

.container {
  margin-right: 0;
  padding: 0;
}

.nopadding {
  padding: 15px !important;
  margin: 0 !important;
}
